.app {
  font-family: "Arial", sans-serif;
  width: 98.9vw;
  margin-left: -10px;
  margin-top: 150px;
  height: auto;

  .main {
    margin-left: 250px;

    .goiy {
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #232536;
    }

    .helper {
      font-family: "Sen", sans-serif;
      font-weight: bold;
      font-size: 36px;
      color: #232536;
      width: 50%;
    }

    .story {
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #4c4c4c;
    }

    .environment {
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: #6d6e76;
      width: 50%;
    }

    .readmore {
      background-color: #ffd050;
      font-family: "Sen", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: #232536;
      padding: 10px;
      width: fit-content;
      display: inline-flex;
      align-items: center;
      gap: 5px;

      .arrow {
        display: inline-block;
        transform: rotate(0deg);
      }

      &:hover {
        background-color: #fff;
      }
    }

    img {
      margin-top: -300px;
      margin-left: 600px;
      width: 30%;
    }
  }

  .posts {
    margin-top: 50px;
    margin-left: 240px;

    .post {
      font-family: "Sen", sans-serif;
      font-weight: bold;
      font-size: 48px;
      color: #232536;
    }

    .dividers {
      border: 1px solid #6d6e76;
      width: 88%;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 20px;

      .imageSection {
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          width: 90%;
        }
      }

      .textSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -20px;

        .category {
          color: #592EA9;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;
          font-family: "Inter", sans-serif;
        }

        .title {
          font-size: 30px;
          font-weight: bold;
          color: #222;
          margin-bottom: 8px;
          font-family: "Sen", sans-serif;
        }

        .description {
          font-size: 14px;
          color: #6d6e76;
          font-family: "Inter", sans-serif;
          margin-top: 30px;
        }
      }
    }

    .arrow1 {
      margin-top: 50px;
      margin-left: 500px;
    }
  }

  .choose {
    text-align: center;
    margin-top: 50px;
    margin-left: 180px;

    h1 {
      font-family: "Sen", sans-serif;
      font-weight: bold;
      font-size: 36px;
      color: #232536;
      margin-left: 10px;
    }

    .cardContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      margin-top: 20px;
      margin-left: -50px;
    }

    .card {
      width: 250px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
      text-align: center;
      transition: transform 0.3s ease-in-out;


      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 30%;
        border-radius: 10px;
        float: left;
      }

      p {
        font-family: "Sen", sans-serif;
        font-size: 15px;
        color: #333;
        margin-top: 10px;
        float: left;
        margin-left: 10px;
      }
    }
  }

  .join {
    margin-top: 80px;
    text-align: center;

    .joinus {
      font-family: "Sen", sans-serif;
      font-weight: bold;
      font-size: 45px;
      color: #232536;
      width: 80%;
      margin-left: 200px;
    }

    .believeus {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      color: #6D6E76;
      width: 30%;
      margin-left: 530px;
    }

    .joinnow {
      background-color: #FFE7BA;
      color: #232536;
      font-family: "Sen", sans-serif;
      font-weight: bold;
      font-size: 18px;
      padding-top: 10px;
      width: 15%;
      padding-bottom: 10px;
    }
  }
}