.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 83.5%;
  margin-left: 250px;
}

.userDropdown {
  position: relative;
  display: inline-block;
}

.userAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdownMenu {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 150px;
}

.dropdownMenu.active {
  display: block;
}

.dropdownMenu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdownMenu a:hover {
  background-color: #f1f1f1;
}