.container {
  display: flex;
  justify-content: center;
  margin-left: -10px;
  margin-top: 111px;
}

.tableContainer {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 10px;
}

.table {
  width: 100px;
  border-collapse: collapse;
}

.tableHead {
  background-color: #f50057;
}

.tableCell {
  font-weight: bold;
  color: white;
  text-align: center !important;
}

.tableRow {
  &:nth-child(even) {
    background-color: #f8f8f8;
  }

  &:hover {
    background-color: #ffe0e6;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}