.app {
  width: 100%;
  max-width: 2000px;
  /* Tăng max-width */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9fafb;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 12px;
}

.tableContainer {
  width: 100%;
  max-width: 1100px;
  /* Tăng max-width của bảng */
  margin: 20px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.createButton {
  background-color: #1976d2; // Màu xanh dương (MUI Primary)
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #115293; // Màu xanh dương đậm khi hover
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.filterButton {
  padding: 10px 32px;
  background-color: #d32f2f !important;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  text-transform: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: #b71c1c !important;
    transform: translateY(-2px);
  }
}