.container {
  margin-left: 245px;
  margin-top: 1px;
}

.tableContainer {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}

.table {
  min-width: 800px;
  border-collapse: collapse;
}

.tableHead {
  background-color: #f50057;
}

.tableCell {
  font-weight: bold;
  color: white;
  text-align: center !important;
}

.tableRow {
  &:nth-child(even) {
    background-color: #f8f8f8;
  }

  &:hover {
    background-color: #ffe0e6;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .MuiPagination-root {
    display: flex;
    gap: 8px;

    .MuiPaginationItem-root {
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(255, 0, 0, 0.1); // Màu đỏ nhạt
      }
    }

    .Mui-selected {
      background-color: red !important;
      color: white !important;
    }
  }
}